<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加广告</title>
</head>

<form action="/add_new_ad" method="POST">
    公司全称:
    <br>
        <input type="text" name="companyName">
    <br>
    职位全称:
    <br>
        <input type="text" name="positionfullName">
    <br>
    职位简称:
    <br>
        <input type="text" name="positionName">
    <br>
    城市:
    <br>
        <input type="text" name="city">
    <br>
    公司福利:
    <br>
        <input type="text" name="positionAdvantage">
    <br>
    工资范围:
    <br>
        <input type="text" name="salary" value="10k-20k">
    <br>
    工作经验:
    <br>
        <input type="text" name="workYear">
    <br>
    落地页地址:
    <br>
        <input type="text" name="request_url">
    <br>
    优先级:
    <br>
        <input type="text" name="priority">
    <br>
    点击ID:
    <br>
        <input type="text" name="clk_id">
    <br>
    投放开始时间:
    <br>
        <input type="datetime-local" step="01" name="stime">
    <br>
    投放结束时间:
    <br>
        <input type="datetime-local" step="01" name="etime">
    <br>
    预存金额:
    <br>
        <input type="number" name="stored" min="100">
    <br>
    每条点击费用:
    <br>
        <input type="number" name="cpc_spend" min="0.1">
    <br>
    <input type="submit" value="提交">
</form>
<body>

</body>
</html>