<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询投放效果</title>
</head>

    <from action="localhost:9999/query" method="POST">
        <br>
        ad_id:
        <br>
        <input type="text" name="ad_id" required="required">
        <br>
        查询目标:<br>
        <input type="text" name="type" value="查询目标"><br>
        <!--<input type="radio" name="type" value="num">点击数据-->
        <!--<br>-->
        <!--<input type="radio" name="type" value="ban">余额-->
        <!--<br>-->
        <input type="submit" value="查询">
    </from>
<body>
</body>
</html>